<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form method="get" action=" http://127.0.0.1:5000/login">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="First Name"><br>

  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Last Name"><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br/>

  <input type="submit" value="Submit">
</form>

</body>
</html>
