<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is my first website. It includes lots of information about my life.">
  <title>My First Webpage</title>
   <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    h1 {
      color: #333;
    }
    p {
      margin: 0 0 1em 0;
      padding: 0;
    }
    em {
      color: #555;
    }
    strong {
      color: #000;
    }
  </style>
</head>
<body>
  <h1>Welcome to my webpage</h1>
  <p>Welcome to <em>my</em> brand new website.</p>
  <p>This site will be my <strong>new</strong> home on the web.</p>
</body>
</html>
